.profile-page{

padding:20px;

}

.profile-page h2{

margin-bottom:25px;

font-size:36px;

font-weight:700;

}

/* Container */

.profile-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

}

/* Left Card */

.profile-left{

 display:flex;
flex-direction:column;
justify-content:center;
background:white;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

overflow:hidden;

}

/* Pink Header */

.profile-header{

background:#f46b78;

color:white;

padding:18px;

text-align:center;

font-size:22px;

font-weight:bold;

}

/* Profile Image */

.profile-image{

display:flex;

justify-content:center;

margin-top:25px;

}

.profile-image svg{

font-size:130px;

color:#4f46e5;

}

/* Details */

.profile-info{

padding:25px;
align-items: center;

}

.info-row{

display:flex;

align-items:center;

gap:15px;

padding:15px 0;

font-size:18px;

border-bottom:1px solid #eee;

}

.info-row svg{

font-size:22px;

color:#4f46e5;

}

/* Right Card */

.profile-right{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

}

.profile-right h3{

margin-bottom:30px;

font-size:28px;

color:#4f46e5;

}

/* Grid */

.details-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}

.details-grid label{
    
display:block;

font-weight:700;

color:#444;

margin-bottom:20px;

font-size:17px;

}

.details-grid p{

background:#f6f7fb;

padding:15px;

border-radius:10px;

font-size:17px;

}

/* Mobile */

@media(max-width:900px){

.profile-container{

grid-template-columns:1fr;

}

.details-grid{

grid-template-columns:1fr;

}

}

.profile-right{
    background:#fff;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.profile-right h2{
    color:#4f46e5;
    margin-bottom:30px;
}

.details-table{
    display:grid;
    grid-template-columns:150px 40px 1fr;
    row-gap:20px;
    column-gap:40px;
}

.details-table .label{
    font-weight:700;
    font-size:20px;
    color:#333;
    margin-bottom:10px;
}

.details-table .value{
    font-size:20px;
    color:#444;
}