.sidebar{

width:250px;

background:#312e81;

color:white;

padding:20px;

transition:.35s;

overflow:hidden;

}

.sidebar.collapsed{

width:80px;

}

.sidebar h2{

margin-bottom:40px;

white-space:nowrap;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:15px;

margin-bottom:10px;

border-radius:8px;

cursor:pointer;

}

.sidebar li:hover{

background:#4338ca;

}

.sidebar a{

display:flex;

align-items:center;

gap:15px;

text-decoration:none;

color:white;

}

.sidebar.collapsed span{

display:none;

}

.sidebar.collapsed h2{

font-size:22px;

text-align:center;

}

.sidebar.collapsed a{

justify-content:center;

}

.sidebar svg{

font-size:20px;

min-width:20px;

}

.sidebar{
    width:260px;
    height:100vh;              /* Full screen height */
    position:sticky;           /* or fixed */
    top:0;
    left:0;
    background:#312db1;
    color:#fff;
    padding:20px;
    overflow-y:auto;           /* Vertical scroll */
    overflow-x:hidden;
    transition:.35s;
    scrollbar-width:thin;      /* Firefox */
    scrollbar-color:#312db1 transparent;
}

.sidebar.collapsed{
    width:80px;
}

.sidebar::-webkit-scrollbar{
    width:7px;
}

.sidebar::-webkit-scrollbar-track{
    background:transparent;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#312db1;
    border-radius:10px;
}

.sidebar::-webkit-scrollbar-thumb:hover{
    background:#312db1;
}

